streamlit
pandas
numpy
plotly
PyMuPDF
pdfplumber
python-docx
scikit-learn
spacy==3.7.6
nltk
Pillow
wordcloud
matplotlib
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
